<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Eventos</title>
</head>
<body>
    <h1>Lista de Eventos</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Local</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="evento : ${eventos}">
                <td th:text="${evento.nome}"></td>
                <td th:text="${evento.local}"></td>
                <td th:text="${evento.data}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
